services: 
    mybili:
        image: mybili:1
        ports:
            - "5151:80"
        volumes:
            - ./storage/app/public:/app/storage/app/public
            - ./storage/db-data:/data
        # devices:
        #     - /dev/dri:/dev/dri  # 硬件加速 (Intel QSV)
        # deploy:
        #   resources:
        #     reservations:
        #       devices:
        #         - driver: nvidia
        #           count: 1
        #           capabilities: [gpu]
        environment:
            REDIS_HOST: redis
            REDIS_DB: 3
            DB_CONNECTION: sqlite
            DB_DATABASE: /data/database.sqlite
    redis:
        image: redis
        volumes:
            - ./storage/redis-data:/data
        command: redis-server --save 60 1 --loglevel warning

volumes:
  db-data:
  redis-data: